alembic==1.7.7
aniso8601==6.0.0
asgiref==3.5.0
astroid==2.11.2
Babel==2.9.0
backcall==0.2.0
bcrypt==3.2.2
beautifulsoup4==4.10.0
CacheControl==0.12.11
cachetools==5.2.0
cachy==0.3.0
camel==0.1.2
camelcase==0.2
case==1.5.3
certifi==2020.12.5
cffi==1.15.1
chardet==4.0.0
cleo==0.8.1
cli-helpers==2.2.1
click==8.1.3
clikit==0.6.2
colorama==0.4.4
configobj==5.0.6
crashtest==0.3.1
cryptography==37.0.4
cssselect==1.1.0
cssutils==2.5.1
csv-diff==1.1
currencies==2020.12.12
decorator==5.0.9
dictdiffer==0.9.0
dill==0.3.4
distlib==0.3.5
Django==4.0.3
dropbox==11.33.0
ecdsa==0.18.0
email-to==0.1.0
et-xmlfile==1.1.0
filelock==3.7.1
Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
forex-python==1.8
greenlet==1.1.2
html5lib==1.1
humanize==4.1.0
idna==2.10
importlib-metadata==4.11.4
install==1.3.5
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.0
Jinja2==3.1.2
jupyter-client==6.1.12
jupyter-core==4.7.1
jwt==1.3.1
keyring==23.8.2
lazy-object-proxy==1.7.1
linecache2==1.0.0
lockfile==0.12.2
lxml==4.9.1
Mako==1.2.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.2
mccabe==0.7.0
mock==4.0.3
msgpack==1.0.4
nose==1.3.7
numpy==1.23.2
oauthlib==3.2.0
openpyxl==3.0.10
packaging==20.9
pandas==1.4.3
parso==0.8.2
pastel==0.2.1
pexpect==4.8.0
pgcli==2.1.1
pgspecial==1.13.1
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.8.3
platformdirs==2.5.1
ply==3.11
poetry==1.1.14
poetry-core==1.0.8
postgres==4.0
premailer==3.10.0
prompt-toolkit==2.0.10
psycopg2==2.9.3
psycopg2-binary==2.9.3
psycopg2-pool==1.1
ptyprocess==0.7.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.15.0
pyftpdlib==1.5.6
Pygments==2.9.0
pylev==1.4.0
pylint==2.13.4
pyparsing==3.0.9
python-dateutil==2.8.2
python-jose==3.3.0
python-oauth2==1.1.1
pytz==2022.2.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
requests-toolbelt==0.9.1
rsa==4.8
schedule==1.1.0
setproctitle==1.2.3
shellingham==1.5.0
simplejson==3.17.6
six==1.12.0
soupsieve==2.3.1
SQLAlchemy==1.3.4
sqlparse==0.3.1
stone==3.3.1
tabulate==0.8.9
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
tornado==6.1
traceback2==1.4.0
traitlets==5.0.5
typed-ast==1.4.2
typing_extensions==4.1.1
tzdata==2022.1
unittest2==1.1.0
urllib3==1.26.4
validator==0.7.0
virtualenv==20.15.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.0
wrapt==1.11.1
WTForms==3.0.1
xlrd==2.0.1
xlwt==1.3.0
zipp==3.8.0
